<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="Key1" value="value1"/>
    <add key="Key2" value="2212DE83-DFC3-44A8-81BA-0A8D132C1F79"/>
    <add key="Key3" value="42"/>
    <add key="Key4" value="true"/>
  </appSettings>
</configuration>
